.button {
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    color: white;
    background-color: gray;
}